<div class = account&profile>
  <h2>プロフィール</h2>
  <%= form_with model: @user, local: true do |f| %>
      <% @user.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
      <% end %>
      <table>
        <tr>
          <th><%= f.label :image, "アイコン画像" %></th>
          <td><%= f.file_field :image %></td>
        </tr>
        <tr>
          <th><%= f.label :name ,"名前" %></th>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <th><%= f.label :email ,"メールアドレス" %></th>
          <td><%= f.text_field :email %></td>
        </tr>
        <tr>
          <th><%= f.label :password ,"パスワード" %></th>
          <td><%= f.text_field :password %></td>
        </tr>
        <tr>
          <th><%= f.label :password_confirmation ,"パスワード（確認）" %></th>
          <td><%= f.text_field :password_confirmation %></td>
        </tr>
      </table>
      <div>
        <ul>
          <li><%= f.submit "編集する"%></li>
          <li><%= link_to "宿泊先一覧に戻る", "#" %></li>
        </ul>
      </div>
    <% end %>
  
</div>