<div class = mypage>
  <table>
    <tr>
      <th>名前</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th>パスワード</th>
      <td>**********</td>  
      # <%= @user.password %>
    </tr>
  </table>
  <div>
    <ul>
      <li><%= link_to "編集する", edit_user_path(@user)%></li>
      <li><%= link_to "宿泊先一覧に戻る", "#" %></li>
    </ul>
  </div>
