<h2>登録済ルーム一覧</h2>

<table> 
  <thead>
      <tr>
          <th>ルーム画像</th>
          <th>ルーム名</th>
          <th>ルーム紹介</th>
          <th>料金</th>
          <th>作成日</th>
      </tr>
  </thead>
  <tbody>
    <% @room.each do |room| %>
      <tr>
        <td><img src="<%= room.room_image %>" width="100"></td>
        <td><%= link_to room.room_name, "/rooms/#{room.id}" %></td>
        <td><%= room.room_introduction %></td>
        <td><%= room.room_price %></td>
        <td><%= room.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>