<div class = room_show>

  <table>
    <tr>
      <th>ルーム名</th>
      <td><%= @room.room_name %></td>
    </tr>
    <tr>
      <th>料金</th>
      <td><%= @room.room_price %></td>
    </tr>
  </table>
  

<%= form_for @reservation ,url: "/rooms/#{@room.id}/reservations/confirm" do |f| %>
  <div class="form-group">

    <%= f.date_field :start_day ,class:"profile_textfield form-control",value: Time.now.strftime("%Y-%m-%d") %>

    <%= f.label :end_day%>
    <%= f.date_field :end_day ,class:"profile_textfield form-control",value: Time.now.tomorrow.strftime("%Y-%m-%d") %>

    <%= f.label :people%>
    <%= f.number_field :people ,class:"profile_textfield form-control",value: 1 %> <br>
    <button type="submit" class="btn btn-primary">予約確認へ進む</button>
  </div>
<% end %>