<!DOCTYPE html>
<html>
  <head>
    <title>Airbnb3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= button_to "ログアウト", logout_path, method: :post %>
    
      <% current_user = User.find_by(id: session[:user_id]) %>
      <% if @current_user%>
      <li>
      <%= current_user.name %>
      </li>
      <% end %>
   
      
    </header>
      <% if flash[:notice] %>
        <div class="flash">
        <%= flash[:notice] %>
        </div>
      <% end %>
      <%= yield %>
    <footer>
      <p>© 2020 POTEPAN.INC.</p>
    </footer>
  </body>
</html>
